body{
    background-color: aliceblue;
    box-shadow: 1px 1px 10px  rgb(227, 240, 238);
    color: rgb(187, 137, 221);
    border: 2px solid rgb(236, 236, 236);
    box-shadow: 1px 1px 10px rgb(165, 203, 198);
}